<template>
  <nav class="nav">
    <p class="logo">Around the world</p>
    <ul class="nav-links">
      <li class="links">
        <router-link to="/">
          Home
        </router-link>
      </li>
      <li :class="['links', $route.params.slug === destination.slug? 'current-destination-class':'' ]"
        v-for="destination in destinations"
        :key="destination.name"
      >
        <router-link :to="{
          name: 'DestinationDetails',
          params: { slug:destination.slug}
        }">
          {{destination.name}}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import store from '@/store.js';
export default {
  data() {
    return {
      destinations: store.destinations
    }
  }
}
</script>

<style scoped>
.nav{
    display: flex;
    padding: 0 10px;
    background-color: rgb(0,0,0,0.1);
}

.nav-links a {
  color: #2c3e50;
  text-decoration: none;
  font-weight: bold ;
}

.nav-links .current-destination-class .router-link-active{
  color: #ab26ab;
}

.links {
  display: inline-block;
  padding: 0 20px;
}
.logo {
  font-weight: bold;
  color: #ab26ab;
}
</style>